*{
    margin:0;
    padding: 0;
}
li{
    list-style: none;
}
#chat{
    width:500px;
    height:507px;
    border:solid 1px #ccc;
    border-radius: 4px;
    background: #fff;
    margin: 180px auto;
    color:#fff;
    font-family: '微软雅黑';
}
.operation{
    width:100%;
    height:70px;
    background: rgba(211,211,211,0.2);
}
.titleImg{
    float: left;
    display:flex;
    justify-content: flex-end;
}
.titleImg img{
    width:45px;
    height:45px;
    border-radius: 50%;
    margin-top: 13px;
    margin-left: 10px;
}
.titleImg i{
    line-height: 65px;
    margin-left: 5px;
    color: #333;
    font-style: normal;
}
.chatMain{
    width:100%;
    height:400px;
}
.chatMainContentUl{
    width:100%;
    height:300px;
    background: #fff;
    overflow-y: auto;
    font-family: 微软雅黑;
}
.chatMainContentLi{
    margin-top: 20px;
    width:97%;
    min-height:55px;
}
.chatMainContentLi img{
    width:40px;
    height:40px;
    border-radius: 50%;
    float: right;
}
.chatMainContentLiLeft{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.chatMainContentLiTime{
    width:90%;
    height:100%;
}
.chatMainContentLiTime ul{
    font-size: 10px;
    color:#9d9d9d;
    padding-top: 7px;
    display: flex;
    font-family: '微软雅黑';
}
.chatMainContentLiTimeRight ul{
    justify-content: flex-end;
    margin-right: 15px;
}
.chatMainContentLiTimeLeft ul{
    justify-content: flex-start;
    margin-left: 23px;
}
.chatMainContentLiTime ul li:nth-child(1) p{
    line-height: 12px;
}
.chatMainContentLiTime ul li:nth-child(2) p{
    line-height: 12px;
    margin-left: 8px;
}
.chatMainContentLiTime ul li:nth-child(3) p{
    margin-left: 10px;
    line-height: 10px;
}
.chatMainContentLiLear{
    width:100%;
    position: relative;
    margin-top: 7px;
}
.chatMainContentLiChat{
    max-width:100%;
    line-height: 15px;
    border-radius: 4px;
    background: mediumseagreen;
    font-size:14px;
    color:#fff;
}
.chatMainContentLiChatRight{
    padding:8px 15px 8px 8px;
    margin-right:10px;
    float: right;
}
.chatMainContentLiChatLeft{
    padding:8px 8px 8px 15px;
    margin-left:10px;
    float: left;
}
.triangle-up{
    width:0;
    height:0;
    border-left:20px solid transparent;
    border-right:0px solid transparent;
    border-bottom:22px solid mediumseagreen;
    position: absolute;
    top:-4px;
    transform: rotate(45deg);
}
.triangle-upRight{
    right:1px;
}
.triangle-upleft{
    left:8px;
}
.chatMainSendContent{
    width:100%;
    height:117px;
    border-top:solid 1px #ccc;
    background: #fff;
    margin-top: 10px;
    position: relative;
}
.sendMegBtn{
    width:80px;
    height:30px;
    background: mediumseagreen;
    border:none;
    border-radius: 2px;
    position: absolute;
    right:5px;
    bottom: 3px;
    font-family: 微软雅黑;
    font-size: 14px;
    color:#fff;
    line-height: 30px;
}
.chatMainSendInput{
    width:99%;
    height:82px;
    outline: none;
    border:none;
    resize: none;
    padding-left: 3px;
    padding-top: 3px;
}