<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="~/Content/CSS/userChat.css">
</head>
<body>
    <div class="container">
        <input type="hidden" id="username" />
        <input type="hidden" id="serviceconnectionid" value="" />
    </div>
    <div id="chat" class="ui-widget-content">
        <div class="operation">
            <p class="titleImg"><img src="~/Content/Images/jdw.png"><i>jdw</i></p>
        </div>
        <div class="chatMain">
            <ul class="chatMainContentUl"></ul>
            <div class="chatMainSendContent">
                <i class="icon"></i>
                <textarea class="chatMainSendInput"></textarea>
                <button class="sendMegBtn">发送</button>
            </div>
        </div>
    </div>
    <script src="~/Content/JS/jquery-3.1.1.min.js"></script>
    <script src="~/Content/JS/jquery-ui.js"></script>
    <script>
        var sendMegBtn = $('.sendMegBtn');
        //用户输入内容框
        var chatMainSendInput = $('.chatMainSendInput');

        ////  发送键点击事件
        //        sendMegBtn.click(function () {
        //            if(chatMainSendInput.val() !== ""){
        //                common.userRender(chatMainSendInput);
        //                common.scrollBottom($('.chatMainContentUl'));
        //            }
        //        })

        //  enter发送信息
        $(document).keyup(function (e) {
            if (e.keyCode == 13) {
                SendMessage();
            }
        })

        var common = {
            //个位数补零
            Appendzero: function (obj) {
                if (obj < 10) return "0" + obj; else return obj;
            },
            //滚动条始终底部
            scrollBottom: function (obj) {
                obj.scrollTop(obj[0].scrollHeight);
            },
            userRender: function (username, message) {
                //        当前时间
                var myDate = new Date();
                var year = myDate.getFullYear();
                var month = myDate.getMonth() + 1;
                var day = myDate.getDate();
                var hour = myDate.getHours();
                var minute = myDate.getMinutes();
                var second = myDate.getSeconds();

                //用户对话框
                var userchat =
                    '<li class="chatMainContentLi chatMainContentLiRight">' +
                    '<img src="/Content/Images/jdw.png"/>' +
                    '<div class="chatMainContentLiTime chatMainContentLiTimeRight">' +
                    '<ul><li><p>' + year + '/' + common.Appendzero(month) + '/' + common.Appendzero(day) + '</p></li>' +
                    '<li><p>' + common.Appendzero(hour) + ':' + common.Appendzero(minute) + ':' + common.Appendzero(second) + '</p></li>' +
                    '<li><p>' + username + '</p></li></ul>' +
                    '<div class="chatMainContentLiLear chatMainContentLiRight">' +
                    '<span class="chatMainContentLiChat chatMainContentLiChatRight">' + message + '</span>' +
                    '<div class="triangle-up triangle-upRight"></div>' +
                    '</div></div>' +
                    '</li>';
                $('.chatMainContentUl').append(userchat);
                common.scrollBottom($('.chatMainContentUl'));

            },
            servRender: function (username, message) {
                //        当前时间
                var myDate = new Date();
                var year = myDate.getFullYear();
                var month = myDate.getMonth() + 1;
                var day = myDate.getDate();
                var hour = myDate.getHours();
                var minute = myDate.getMinutes();
                var second = myDate.getSeconds();
                //用户对话框
                var servchat =
                    '<li class="chatMainContentLi chatMainContentLiLeft">' +
                    '<img src="/Content/Images/ls.png"/>' +
                    '<div class="chatMainContentLiTime chatMainContentLiTimeLeft">' +
                    '<ul><li><p>' + username + '</p></li>' +
                    '<li><p>' + year + '/' + common.Appendzero(month) + '/' + common.Appendzero(day) + '</p></li>' +
                    '<li><p>' + common.Appendzero(hour) + ':' + common.Appendzero(minute) + ':' + common.Appendzero(second) + '</p></li></ul>' +
                    '<div class="chatMainContentLiLear chatMainContentLiLeft">' +
                    '<span class="chatMainContentLiChat chatMainContentLiChatLeft">' + message + '</span>' +
                    '<div class="triangle-up triangle-upLeft"></div>' +
                    '</div></div>' +
                    '</li>';
                $('.chatMainContentUl').append(servchat);
                common.scrollBottom($('.chatMainContentUl'));
            }
        }
    </script>


    @section scripts {
        <!--Script references. -->
        <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
        <!--Reference the SignalR library. -->
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = common.servRender;
            chat.client.loginWarm = function () {
                alert("登录状态已失效！请重新登录！");
                //跳转到登录页面代码
            };
            chat.client.onUserDisconnected = function (username) {
                //掉线提示
                alert("警告！您的账户已经在其他地方登录！");
                //弹出登录窗口
            };
            chat.client.onConnected = function (serviceconnectionid, username) {
                //例如在消息框中间显示某些提示文字信息，如“已为您分配***客服，可以开始咨询了”
                //ServiceConnectionId 为客服链接id， 需要保存在页面中，下次发送信息时带上此参数
                //userName 客服名称，需要保存在页面中，下次发送信息时带上此参数
                $('#serviceconnectionid').val(serviceconnectionid);
                $('#username').val(username);
                alert("已为您分配客服人员：" + username);
            };
            chat.client.loseServiceWarm = function () {
                //提示用户客服已经掉线，刷新页面，重新链接
                alert("抱歉！为您分配的客服***可能由于网络原因已经掉线！");
                //刷新页面
            };
            //// Get the user name and store it to prepend to messages.
            //$('#username').val(prompt('Enter your name:', ''));
            //// Set initial focus to message input box.
            //$('#chatMainSendInput').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                chat.server.uConnect(3, "jdw");
                //chat.server.connect("", "");//当登录状态链接失败时，后台会调用loginWarm
                $('.sendMegBtn').click(SendMessage);
            });
            function SendMessage() {
                // Call the Send method on the hub.
                chat.server.uSend($('#serviceconnectionid').val(), "jdw", $('.chatMainSendInput').val());
                //addNewMessage("jdw", $('#chatMainSendInput').val());
                common.userRender("jdw", $('.chatMainSendInput').val());
                //chat.server.usend("jdw", $('#chatMainSendInput').val());
                // Clear text box and reset focus for next comment.
                $('.chatMainSendInput').val('').focus();
            }
        </script>
    }
</body>
</html>